! Fuentes:
!xterm*faceName: Dejavu Sans Mono Book
xterm*faceName: Ohsnap
xterm*faceSize:	10
URxvt*font:     xft:Terminus:size=8

! Configuración local
XTerm*locale: 	true

! Shell entrada por defecto...
XTerm*loginshell: true

! Enable bell urgent
xterm*bellIsUrgent: true

! scrollback...
XTerm* savelines: 10000

! Doble click selección de URL...
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Geometra de ventana...
xterm*geometry: 90x20+0+0


! special
xterm*foreground:   #4a4b4c
xterm*background:   #0b0b0b
xterm*cursorColor:  #888888

! black
xterm*color0:       #ababab
xterm*color8:       #303132

! red
xterm*color1:       #909093
xterm*color9:       #353535

! green
xterm*color2:       #7e7e7e
xterm*color10:      #3a3b3c

! yellow
xterm*color3:       #777777
xterm*color11:      #4a4b4c

! blue
xterm*color4:       #6a686c
xterm*color12:      #535455

! magenta
xterm*color5:       #555457
xterm*color13:      #696969

! cyan
xterm*color6:       #4a4b4c
xterm*color14:      #7c7c7e

! white
xterm*color7:       #292a2b
xterm*color15:      #999999
